extends Layout

block content
    h1 Create a habit 🆕
    small
        a(href="/accomplishments") 👉 View your accomplishments.
    br
    small
        a(href="/log") 👉 Log an accomplishments.
    br
    small
        a(href="/habits") 👉 Manage your habits.
    br
    br
    form(action="/new-habit" method="post")
        label(for="name") What is the habit's name?
        input(type="text" id="name" name="name" required)
        label(for="frequency") How often do you do it?
        select(id="frequency" name="frequency" required)
            option(value="" selected=true) Select a frequency
            option(value="multi") Multiple times a day
            option(value="once") Once a day
            option(value="sometimes") Less than once a day
        button(type="submit") Submit
