extends Base
block layout
    main(class="container")
        h1 #{pageTitle}
        p #{error}
        form(action=`${action}` method="post")
            label(for="email") Email
            input(id="email" name="email" type="text")
            label(for="password") Password
            input(id="password" name="password" type="password")
            button(type="submit") Submit
        unless !showPasswordResetLink
            p
                a(href="/reset-password") Forgot password
        unless !showRegisterLink
            p
                a(href="/register") Create account
        unless !showLoginLink
            p
                a(href="/login") Already have an account
