extends Base
block layout
    main(class="container")
        h1 Reset password
        p #{error}
        form(action=`/reset-password` method="post")
            label(for="email") Email
            input(id="email" name="email" type="text")
            button(type="submit") Send reset email