extends Base
block layout
    main(class="container")
        h1 Password change
        p #{error}
        form(action="/password-change" method="post")
            label(for="email") Email
            input(id="email" name="email" type="text" required)
            label(for="resetcode") Reset code
            input(id="resetcode" name="resetcode" type="text" required)
            label(for="password") New password
            input(id="password" name="password" type="password" required)
            button(type="submit") Submit
