.accomplishment-item {
    padding: 20px;
    box-shadow: 0 0.125rem 1rem rgba(27, 40, 50, 0.04),0 0.125rem 2rem rgba(27, 40, 50, 0.08),0 0 0 0.0625rem rgba(27, 40, 50, 0.024);
    margin-bottom: 20px;
    border-radius: 10px;
    position: relative;
}

.accomplishment-item p {
    margin-bottom: 5px;
}

.accomplishment-item small {
    font-size: 12px;
    position: absolute;
    right: 8px;
    top: 8px;
}

.accomplishment-item button {
    position: absolute;
    width: 60px;
    bottom: 8px;
    right: 8px;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 0px;
    padding: 5px 0;
}

.hidden {
    display: none;
}

.remove-button {
    background-color: #F44336;
    border-color: #F44336;
}